/target
.env
/frontend/node_modules
/home/jnoble/develop/rust-book/web_app/frontend/node_modules

/frontend/public/bundle.js
/frontend/public/bundle.css
/frontend/public/bundle.js.map
/frontend/public/bundle.css.map
/frontend/public/rust_interface_bg.wasm
/frontend/public/rust_interface_bg.wat
/frontend/rust-interface/pkg
/frontend/rust-interface/target

.idea
.vscode
.DS_Store
*.log
